
$card1: #1f77fa9a;
$card2: #07860d67;
$card3: #ffd00059;
$boton: #95c842;
$botonHover: rgb(195, 250, 92);
$bgColorFooter: linear-gradient(45deg, #112936, #1a3f53, #265c79);
$bgColorOscuro: linear-gradient(0deg, #1a1a1a, #000000, #000000, #1f1f1f);
$bgColorFormOscuro: linear-gradient(0deg, #111111, #1f1f1f, #727272, #afadad, #727272, #000000);

body {
    height: 100%;
    transition: all 2s;
    .navbar {

        .navbar-brand:hover {
            transform: scale(1.1);
            transition: 0.4s;
        }
        .nav-item:hover {
            transform: scale(1.1);
            transition: 0.4s;
        }
    }

    main {
        transition: all 2s;
        #claroOscuro {
            cursor: pointer;
            position: absolute;
            top: 100px;
            right: 30px;
            &:hover {
                transform: scale(1.2);
            }
        }
        
        .cards {
            .filas {
                .columns {
                    .card {
                        .card-body {
                            color: black !important;
                        }
                    }
                    .est:hover {
                        background-color: $card1;
                    }
                    .tra:hover {
                        background-color: $card2;
                    }
                    .jr:hover {
                        background-color: $card3;
                    }
                }
            }
        }
        .containerForm {
            padding: 1rem;
        }
    }

    footer {
        background: $bgColorFooter !important;

        ul {
            li {
                a:hover {
                    color: $botonHover !important;
                    transition: all 0.2s;
                }
            }
        }
    }
}

.oscuro{ 
    background: $bgColorOscuro;
    transition: all 2s;

    main {
        .titleForm {
            color: #f1eded;
            transition: all 2s;
        }

        .containerForm {
            background: $bgColorFormOscuro;
            border-radius: 0.5rem;
            transition: all 2s;

            form {
                input {
                    box-shadow: 0 0 3px #000000;
                    transition: all 2s;
                }

                select {
                    box-shadow: 0 0 3px #000000;
                    transition: all 2s;
                }
            }
        }
        .cards {
            transition: all 2s;
            .cardEst {
                background-color: $card1;
                transition: all 0.8s;
            }
            .cardTra {
                background-color: $card2;
                transition: all 2.1s;
            }
            .cardJr {
                background-color: $card3;
                transition: all 3.5s;
            }
        }
    }
}

.boton {
    background-color: $boton !important;

    &:hover {
        opacity: 0.7;
        color:black !important;
    }
}


