$card1: #1f77fa9a;
$card2: #07860d67;
$card3: #ffd00059;
$boton: #95c842;
$botonHover: rgb(195, 250, 92);
$bgColorFooter: linear-gradient(45deg, #112936, #1a3f53, #265c79);
$bgColorOscuro: linear-gradient(25deg, #000000, #000000, #000000, #1a1a1a);

@mixin inputs {
    box-shadow: 0 0 20px #777777;
    transition: all 2s;
}

body {
    height: 100%;
    transition: all 2s;

    .navbar {

        .navbar-brand {
            &:hover {
                transform: scale(1.1);
                transition: 0.4s;
            }
        }

        .nav-item {
            &:hover {
                transform: scale(1.1);
                transition: 0.4s;
            }
        }
    }

    main {
        transition: all 2s;

        #claroOscuro {
            display: none; 
            transition: all 4s;
        }

        #claroOscuro2 {
            cursor: pointer;
            position: absolute;
            top: 97px;
            right: 33px;
<<<<<<< HEAD
            transition: all 4s;
=======
            transition: all 2s;
>>>>>>> 598bf7fc4c14cea7c5fb16b0f36ce6ee8001c733

            &:hover {
                transform: scale(1.2);
            }
        }

        .cards {
            text-align: center;

            .filas {
                .columns {
                    .card {
                        border: 0.1rem solid;

                        .card-body {
                            color: black !important;
                        }
                    }

                    .est:hover {
                        background-color: $card1;
                        box-shadow: 0 0 5px rgb(107, 107, 107);
                    }

                    .tra:hover {
                        background-color: $card2;
                        box-shadow: 0 0 5px rgb(107, 107, 107);
                    }

                    .jr:hover {
                        background-color: $card3;
                        box-shadow: 0 0 5px rgb(107, 107, 107);
                    }
                }
            }
        }

        .titleForm {
            text-align: center;
            margin-top: 1.8rem;

            p {
                padding-bottom: 0;
                margin-bottom: 0.5rem;
                padding-top: 1rem;
            }

            h1 {
                padding-bottom: 2rem;
            }
        }

        .containerForm {
            padding: auto;

            form {
                .alert {
                    margin-top: 2rem;
                    padding: 0.7rem;

                    p {
                        margin: auto;
                        font-size: 1.3rem;
                        padding: 0.7rem;
                    }
                }

                .buttons {
                    padding: 0;
                    margin-top: 1rem;

                    .boton {
                        font-size: 1.4rem;
                        color: #fff;
                        background-color: $boton !important;

                        &:hover {
                            opacity: 0.7;
                            color: black !important;
                        }
                    }
                }
            }
        }
    }

    footer {
        background: $bgColorFooter !important;
        padding: 2rem 0;
        margin-top: 2rem;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                a {
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        color: $botonHover !important;
                        transition: all 0.2s;
                    }
                }
            }
        }
    }
}

.oscuro {
    background: $bgColorOscuro;
    animation: delay 0.5s normal linear;

    main {
        transition: all 2s;

        #claroOscuro {
            display: block;
            cursor: pointer;
            position: absolute;
            top: 100px;
            right: 30px;
<<<<<<< HEAD
            transition: all 4s;
=======
            transition: all 2s;
>>>>>>> 598bf7fc4c14cea7c5fb16b0f36ce6ee8001c733

            &:hover {
                transform: scale(1.2);
            }
        }

        #claroOscuro2 {
            display: none;
            transition: all 4s;
        }

        .titleForm {
            color: #f1eded;
            transition: all 2s;
        }

        .containerForm {
            border-radius: 0.5rem;
            transition: all 2s;

            form {
                label {
                    color: #fff;
                    transition: all 2s;
                }

                input {
                    @include inputs();
                }

                select {
                    @include inputs();
                }
            }
        }

        .cards {
            transition: all 2s;

            .est {
                background-color: $card1;
                transition: all 0.8s;
            }

            .tra {
                background-color: $card2;
                transition: all 2.1s;
            }

            .jr {
                background-color: $card3;
                transition: all 3.5s;
            }
        }
    }
}
<<<<<<< HEAD



@keyframes delay {
    0% {
        background: white;
    }
    15% {
        background: #575757;
    }
    25% {
        background: #464646;
    }
    50% {
        background: #2b2b2b;
    }
    75% {
        background: #202020;
    }
    85% {
        background: #181818;
    }
    100% {
        background: #0c0c0c;
    }
}
=======
>>>>>>> 598bf7fc4c14cea7c5fb16b0f36ce6ee8001c733
