$card1: #1f77fa9a;
$card2: #08b87d75;
$card3: #ffd00059;
$boton: #95c842;
$botonHover: rgb(195, 250, 92);
$bgColorFooter: linear-gradient(45deg, #112936, #1a3f53, #265c79);
$bgColorOscuro: linear-gradient(25deg, #00010a, #000000, #000000, #1a1a1a);
$seconds1: 2s;
$seconds2: 2.8s;
$seconds3: 3.6s;

@mixin inputs {
    box-shadow: 0 0 10px #424242;
    transition: all 2s;
}

@mixin cardsMx($theme: $card1) {
    transition: all 2s;
    border: 0.2rem groove $theme;

    &:hover {
        transform: translate3d(2.5ch, 0.3in, 4em);
        transition: all 1s;
        box-shadow: -15px -15px 30px rgba(0, 0, 0, 0.664);
        z-index: 1;
    }
}

@mixin animCards ($theme: $seconds) {
    animation: cardAnim1 $theme ease-in-out;
}

body {
    height: 100%;

    .navbar {

        .navbar-brand {
            &:hover {
                transform: scale(1.1);
                transition: 0.4s;
            }
        }

        .nav-item {
            &:hover {
                transform: scale(1.1);
                transition: 0.4s;
            }
        }
    }

    main {
        margin-top: 6rem;
        transition: all 1s;

        #claroOscuro {
            display: none;
            transition: all 4s;
        }

        #claroOscuro2 {
            cursor: pointer;
            position: absolute;
            top: 97px;
            right: 33px;
            transition: all 4s;
            transition: all 2s;

            &:hover {
                transform: scale(1.2);
            }
        }

        .cards {
            text-align: center;
            transition: all 2s;

            .filas {
                .columns {
                    .card {
                        border-radius: 0;
                        padding: 0 15px;

                        .card-body {
                            color: black !important;

                            .card-title {
                                padding: 5px;
                            }

                            h5,
                            h6 {
                                font-weight: bold;
                            }

                            p {
                                color: rgb(94, 94, 94);
                                padding-top: 5px;
                            }
                        }
                    }

                    .card-1 {
                        @include animCards($theme: $seconds1);
                        @include cardsMx($theme: $card1);
                    }

                    .card-2 {
                        @include animCards($theme: $seconds2);
                        @include cardsMx($theme: $card2);
                    }

                    .card-3 {
                        @include animCards($theme: $seconds3);
                        @include cardsMx($theme: $card3);
                    }
                }
            }
        }

        .titleForm {
            text-align: center;
            margin-top: 1.8rem;

            p {
                padding-bottom: 0;
                margin-bottom: 0.5rem;
                padding-top: 1rem;
            }

            h1 {
                padding-bottom: 2rem;
            }
        }

        .containerForm {

            form {

                .inputs {
                    margin-top: 1.1rem;
                    font-size: 1rem;
                    font-weight: 500;
                    gap: 1rem;
                }

                .alertBlue {
                    margin-top: 1rem;
                    padding: 0.7rem;

                    p {
                        margin: auto;
                        font-size: 1.3rem;
                        padding: 0.7rem;
                    }
                }

                .alertDanger {
                    display: none;
                    color: #f1f1f1;
                    background-color: rgba(255, 49, 49, 0.712);
                    padding-top: 1rem;
                    margin-top: 1rem;
                    padding-bottom: 0;
                }

                .visible {
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    z-index: 1;
                }

                .buttons {
                    padding: 0;
                    margin-top: 1.2rem;

                    .boton {
                        font-size: 1.4rem;
                        color: #fff;
                        background-color: $boton !important;

                        &:hover {
                            opacity: 0.7;
                            color: black !important;
                        }
                    }
                }
            }
        }
    }

    footer {
        background: $bgColorFooter !important;
        padding: 2rem 0;
        margin-top: 2rem;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                a {
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        color: $botonHover !important;
                        transition: all 0.2s;
                    }
                }
            }
        }
    }
}

.oscuro {
    background: $bgColorOscuro;
    animation: delay 1s normal linear;

    main {
        transition: all 2s;

        #claroOscuro {
            display: block;
            cursor: pointer;
            position: absolute;
            top: 100px;
            right: 30px;
            transition: all 4s;
            transition: all 2s;

            &:hover {
                transform: scale(1.2);
            }
        }

        #claroOscuro2 {
            display: none;
            transition: all 4s;
        }

        .titleForm {
            color: #f1eded;
            transition: all 2s;
        }

        .containerForm {
            border-radius: 0.5rem;
            transition: all 2s;

            form {
                label {
                    color: #fff;
                    transition: all 2s;
                }

                input {
                    @include inputs();
                }

                select {
                    @include inputs();
                }
            }
        }

        .cards {
            transition: all 2s;

            .filas {
                .columns {
                    .card {
                        .card-body {

                            h5,
                            h6 {
                                color: #c5c5c5;
                            }

                            p {
                                color: #8d8d8d;
                                transition: all 2s;
                            }
                        }
                    }

                    .card-1 {
                        background-color: $card1;
                        transition: all 1.8s;
                    }

                    .card-2 {
                        background-color: $card2;
                        transition: all 2.8s;
                    }

                    .card-3 {
                        background-color: $card3;
                        transition: all 3.5s;
                    }
                }
            }
        }
    }
}


@keyframes delay {
    0% {
        background: white;
    }
    15% {
        background: #575757;
    }
    25% {
        background: #464646;
    }
    50% {
        background: #2b2b2b;
    }
    75% {
        background: #202020;
    }
    85% {
        background: #181818;
    }
    100% {
        background: #0c0c0c;
    }
}

@keyframes cardAnim1 {
    0% {
        top: -200%;
        transform: scale(0.1);
    }    
    50% {
        top: 50%;
        transform: scale(0.1);
    }
    100% {
        top: 0%;
    }
}