body {
  height: 100%;
  transition: all 2s;
}
body .navbar .navbar-brand:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
body .navbar .nav-item:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
body main {
  transition: all 2s;
}
body main #claroOscuro {
  display: none;
}
body main #claroOscuro2 {
  cursor: pointer;
  position: absolute;
  top: 97px;
  right: 33px;
}
body main #claroOscuro2:hover {
  transform: scale(1.2);
}
body main .cards {
  text-align: center;
}
body main .cards .filas .columns .card {
  border: 0.1rem solid;
}
body main .cards .filas .columns .card .card-body {
  color: black !important;
}
body main .cards .filas .columns .est:hover {
  background-color: rgba(31, 119, 250, 0.6039215686);
  box-shadow: 0 0 5px rgb(107, 107, 107);
}
body main .cards .filas .columns .tra:hover {
  background-color: rgba(7, 134, 13, 0.4039215686);
  box-shadow: 0 0 5px rgb(107, 107, 107);
}
body main .cards .filas .columns .jr:hover {
  background-color: rgba(255, 208, 0, 0.3490196078);
  box-shadow: 0 0 5px rgb(107, 107, 107);
}
body main .titleForm {
  text-align: center;
  margin-top: 1.8rem;
}
body main .titleForm p {
  padding-bottom: 0;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
}
body main .titleForm h1 {
  padding-bottom: 2rem;
}
body main .containerForm {
  padding: auto;
}
body main .containerForm form .alert {
  margin-top: 2rem;
  padding: 0.7rem;
}
body main .containerForm form .alert p {
  margin: auto;
  font-size: 1.3rem;
  padding: 0.7rem;
}
body main .containerForm form .buttons {
  padding: 0;
  margin-top: 1rem;
}
body main .containerForm form .buttons .boton {
  font-size: 1.4rem;
  color: #fff;
  background-color: #95c842 !important;
}
body main .containerForm form .buttons .boton:hover {
  opacity: 0.7;
  color: black !important;
}
body footer {
  background: linear-gradient(45deg, #112936, #1a3f53, #265c79) !important;
  padding: 2rem 0;
  margin-top: 2rem;
}
body footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body footer ul li a {
  color: #fff;
  text-decoration: none;
}
body footer ul li a:hover {
  color: rgb(195, 250, 92) !important;
  transition: all 0.2s;
}

.oscuro {
  background: linear-gradient(25deg, #1a1a1a, #000000, #03060f, #0e0d0d, #000000);
  transition: all 2s;
}
.oscuro main #claroOscuro {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 100px;
  right: 30px;
}
.oscuro main #claroOscuro:hover {
  transform: scale(1.2);
}
.oscuro main #claroOscuro2 {
  display: none;
}
.oscuro main .titleForm {
  color: #f1eded;
  transition: all 2s;
}
.oscuro main .containerForm {
  border-radius: 0.5rem;
  transition: all 2s;
}
.oscuro main .containerForm form label {
  color: #fff;
  transition: all 2s;
}
.oscuro main .containerForm form input {
  box-shadow: 0 0 20px #363636;
  transition: all 2s;
}
.oscuro main .containerForm form select {
  box-shadow: 0 0 20px #363636;
  transition: all 2s;
}
.oscuro main .cards {
  transition: all 2s;
}
.oscuro main .cards .est {
  background-color: rgba(31, 119, 250, 0.6039215686);
  transition: all 0.8s;
}
.oscuro main .cards .tra {
  background-color: rgba(7, 134, 13, 0.4039215686);
  transition: all 2.1s;
}
.oscuro main .cards .jr {
  background-color: rgba(255, 208, 0, 0.3490196078);
  transition: all 3.5s;
}

@media (max-width: 768px) {
  footer ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}

/*# sourceMappingURL=index.css.map */
