body {
  height: 100%;
}
body .navbar .navbar-brand:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
body .navbar .nav-item:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
body main {
  margin-top: 6rem;
  transition: all 1s;
}
body main #claroOscuro {
  display: none;
  transition: all 4s;
}
body main #claroOscuro2 {
  cursor: pointer;
  position: absolute;
  top: 97px;
  right: 33px;
  transition: all 4s;
  transition: all 2s;
}
body main #claroOscuro2:hover {
  transform: scale(1.2);
}
body main .cards {
  text-align: center;
  transition: all 2s;
}
body main .cards .filas .columns .card {
  border-radius: 0;
  padding: 0 15px;
}
body main .cards .filas .columns .card .card-body {
  color: black !important;
}
body main .cards .filas .columns .card .card-body .card-title {
  padding: 5px;
}
body main .cards .filas .columns .card .card-body h5,
body main .cards .filas .columns .card .card-body h6 {
  font-weight: bold;
}
body main .cards .filas .columns .card .card-body p {
  color: rgb(94, 94, 94);
  padding-top: 5px;
}
body main .cards .filas .columns .card-1 {
  animation: cardAnim1 2.1s ease-in-out;
  transition: all 2s;
  border: 0.2rem groove rgba(31, 119, 250, 0.6039215686);
}
body main .cards .filas .columns .card-1:hover {
  transform: skew(0.512rad);
  transition: all 2s;
  box-shadow: 0 0 15px rgb(175, 175, 175);
}
body main .cards .filas .columns .card-2 {
  animation: cardAnim1 2.8s ease-in-out;
  transition: all 2s;
  border: 0.2rem groove rgba(8, 184, 125, 0.4588235294);
}
body main .cards .filas .columns .card-2:hover {
  transform: skew(0.512rad);
  transition: all 2s;
  box-shadow: 0 0 15px rgb(175, 175, 175);
}
body main .cards .filas .columns .card-3 {
  animation: cardAnim1 3.6s ease-in-out;
  transition: all 2s;
  border: 0.2rem groove rgba(255, 208, 0, 0.3490196078);
}
body main .cards .filas .columns .card-3:hover {
  transform: skew(0.512rad);
  transition: all 2s;
  box-shadow: 0 0 15px rgb(175, 175, 175);
}
body main .titleForm {
  text-align: center;
  margin-top: 1.8rem;
}
body main .titleForm p {
  padding-bottom: 0;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
}
body main .titleForm h1 {
  padding-bottom: 2rem;
}
body main .containerForm form .inputs {
  margin-top: 1.1rem;
  font-size: 1rem;
  font-weight: 500;
  gap: 1rem;
}
body main .containerForm form .alertBlue {
  margin-top: 1rem;
  padding: 0.7rem;
}
body main .containerForm form .alertBlue p {
  margin: auto;
  font-size: 1.3rem;
  padding: 0.7rem;
}
body main .containerForm form .alertDanger {
  display: none;
  color: #f1f1f1;
  background-color: rgba(255, 49, 49, 0.712);
  width: 49%;
  padding-top: 1rem;
  margin-top: 1rem;
  padding-bottom: 0;
}
body main .containerForm form .visible {
  display: flex;
  justify-content: space-between;
}
body main .containerForm form .buttons {
  padding: 0;
  margin-top: 1.2rem;
}
body main .containerForm form .buttons .boton {
  font-size: 1.4rem;
  color: #fff;
  background-color: #95c842 !important;
}
body main .containerForm form .buttons .boton:hover {
  opacity: 0.7;
  color: black !important;
}
body footer {
  background: linear-gradient(45deg, #112936, #1a3f53, #265c79) !important;
  padding: 2rem 0;
  margin-top: 2rem;
}
body footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body footer ul li a {
  color: #fff;
  text-decoration: none;
}
body footer ul li a:hover {
  color: rgb(195, 250, 92) !important;
  transition: all 0.2s;
}

.oscuro {
  background: linear-gradient(25deg, #00010a, #000000, #000000, #1a1a1a);
  animation: delay 1s normal linear;
}
.oscuro main {
  transition: all 2s;
}
.oscuro main #claroOscuro {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 100px;
  right: 30px;
  transition: all 4s;
  transition: all 2s;
}
.oscuro main #claroOscuro:hover {
  transform: scale(1.2);
}
.oscuro main #claroOscuro2 {
  display: none;
  transition: all 4s;
}
.oscuro main .titleForm {
  color: #f1eded;
  transition: all 2s;
}
.oscuro main .containerForm {
  border-radius: 0.5rem;
  transition: all 2s;
}
.oscuro main .containerForm form label {
  color: #fff;
  transition: all 2s;
}
.oscuro main .containerForm form input {
  box-shadow: 0 0 10px #424242;
  transition: all 2s;
}
.oscuro main .containerForm form select {
  box-shadow: 0 0 10px #424242;
  transition: all 2s;
}
.oscuro main .cards {
  transition: all 2s;
}
.oscuro main .cards .filas .columns .card .card-body h5,
.oscuro main .cards .filas .columns .card .card-body h6 {
  color: #c5c5c5;
}
.oscuro main .cards .filas .columns .card .card-body p {
  color: #8d8d8d;
  transition: all 2s;
}
.oscuro main .cards .filas .columns .card-1 {
  background-color: rgba(31, 119, 250, 0.6039215686);
  animation: cardAnim1 2s forwards ease-in-out;
  transition: all 1.8s;
}
.oscuro main .cards .filas .columns .card-2 {
  background-color: rgba(8, 184, 125, 0.4588235294);
  animation: cardAnim1 3s forwards ease-in-out;
  transition: all 2.8s;
}
.oscuro main .cards .filas .columns .card-3 {
  background-color: rgba(255, 208, 0, 0.3490196078);
  animation: cardAnim1 4s forwards ease-in-out;
  transition: all 3.5s;
}

@keyframes delay {
  0% {
    background: white;
  }
  15% {
    background: #575757;
  }
  25% {
    background: #464646;
  }
  50% {
    background: #2b2b2b;
  }
  75% {
    background: #202020;
  }
  85% {
    background: #181818;
  }
  100% {
    background: #0c0c0c;
  }
}
@keyframes cardAnim1 {
  0% {
    top: -200%;
    transform: scale(0.1);
  }
  50% {
    top: 50%;
    transform: scale(0.1);
  }
  100% {
    top: 0%;
  }
}
@media (max-width: 768px) {
  main .cards .filas {
    gap: 1rem;
  }
  footer ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}

/*# sourceMappingURL=index.css.map */
